extends layout

block content

    a(href='https://github.com/anders94/blockchain-demo/')
        img.github-ribbon(src='/images/fork-me-on-github-ribbon.png' width="50" height="60")
    .container
        h1 Ichrak Ben Saad & Aya fekih Romdhane 
        h1 3 DNI_G1
        .embed-responsive.embed-responsive-16by9
        
    
